<h1>All Job</h1>
<ul>
    <% jobs.forEach(job=> { %>
        <li>
            <a href="/jobs/<%= job.id %>">
                <%= job.jobdesignation %> at <%= job.companyname %>
            </a>
        </li>
    <% }); %>
</ul>