<h1>A comprehensive platform for reliable</h1>

<h2>job opportunities and internships.</h2>

<h4>Get Discovered. Get Hired</h4>

<a href="/jobs" class="btn btn-info">I'm A Job Seeker</a>
<a href="/register" class="btn btn-info">I'm A Recruiter</a>