<!-- views new job -->

<h1 class="mt-5 mb-4">Post New Job</h1>

<% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
<% } %>

<form action="/" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="jobcategory" class="form-label">Job Category</label>
        <input type="text" class="form-control" id="jobcategory" name="jobcategory">
    </div>
    <div class="mb-3">
        <label for="jobdesignation" class="form-label">Job Designation</label>
        <input type="text" class="form-control" id="jobdesignation" name="jobdesignation" required>
    </div>
    <div class="mb-3">
        <label for="joblocation" class="form-label">Job Location</label>
        <input type="text" class="form-control" id="joblocation" name="joblocation">
    </div>
    <div class="mb-3">
        <label for="companyname" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="companyname" name="companyname">
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="salary" name="salary">
    </div>
    <div class="mb-3">
        <label for="applyby" class="form-label">Apply By</label>
        <input type="date" class="form-control" id="applyby" name="applyby">
    </div>
    <div class="mb-3">
        <label for="skillsrequired" class="form-label">Skills Required</label>
        <input type="text" class="form-control" id="skillsrequired" name="skillsrequired">
    </div>
    <div class="mb-3">
        <label for="numberofopenings" class="form-label">Number Of Openings</label>
        <input type="number" class="form-control" id="numberofopenings" name="numberofopenings">
    </div>
    <div class="mb-3">
        <label for="jobposted" class="form-label">Job Posted</label>
        <input type="date" class="form-control" id="jobposted" name="jobposted">
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Url</label>
        <!-- <input type="text" class="form-control" id="imageUrl" name="imageUrl"> -->
        <input type="file" class="form-control" name="imageUrl" id="imageUrl" accept="images/*" /> 
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>